# Log file.
#log-file log1

# Default is not verbose.
#verbose

# Default is no debugging.
#debug-all

# Pin cache period in seconds; defaut is infinite.
#pin-cache 20

# Comma-separated list of available provider names. Then set
# attributes for each provider using the provider-[name]-attribute
# syntax.
providers p1

# The following attributes can be set for each provider:
#
# library
#	Full path to the PKCS#11 shared library (= provider).
# allow-protected-auth
#	Allow protected authentication for provider. This needs to be supported by
#	the provider and you should have appropriate reader hardware.
# cert-private
#	Authentication is required before certificates can be accessed. Most
#	configurations store certificates as public, so there is no need to use this
#	option.
# sign-mode
#	Signature mode. Use this only when you have problem singning. Valid values
#	are:
#
#	auto - Determine automatically.
#	sign - Force sign.
#	recover - Force sign with recovery.
#	any - Try both.
provider-p1-library /usr/lib/pkcs11/p1.so
#provider-p1-allow-protected-auth
#provider-p1-cert-private
#provider-p1-sign-mode recover
