# Write log into
#log-file log1

# Set verbose mode, default off.
#verbose

# Set debugging mode, default off.
#debug-all

# Set pin cache period, defaut is infinite.
#pin-cache 20

# Set available provoder, comma seperated list
# Each provider will follow using provider-[name]-attribute
providers p1

#
# Provider attributes
#
# library
#	PKCS#11 library location.
# allow-protected-auth
#	Allow protected authentication for provider, protected authentication
#	needs to be supported by provider and you should have the right reader
#	hardware.
# cert-private
#	Provider requires authentication before certificate can be accessed,
# 	most configurations store certificate as public, so don't use this option.
# sign-mode
#	Signature mode, only use when you have problem singning.
#		auto - Determine automatically.
#		sign - Force sign.
#		recover - Force sign-recover.
#		any - Enforce both, failback.
#
provider-p1-library /usr/lib/pkcs11/p1.so
#provider-p1-allow-protected-auth
#provider-p1-cert-private
#provider-p1-sign-mode recover
