Source: gnupg-pkcs11-scd
Section: utils
Priority: optional
Maintainer: S. Wefel <wefel@informatik.uni-halle.de>
Build-Depends: debhelper-compat (= 13)
	, libassuan-dev
	, libgpg-error-dev
	, libgcrypt20-dev
	, libpkcs11-helper-dev
	, libssl-dev
	, pkgconf
Standards-Version: 4.6.1
Homepage: http://gnupg-pkcs11.sourceforge.net/
Rules-Requires-Root: no

Package: gnupg-pkcs11-scd
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: gnupg | gpgsm
Description: GnuPG smart-card daemon with PKCS#11 support
 gnupg-pkcs11-scd is a drop-in replacement for the smart-card daemon (scd)
 shipped with GnuPG. The daemon interfaces to smart-cards by using RSA Security
 Inc. PKCS#11 Cryptographic Token Interface (Cryptoki).
